.preview {
  padding: 0.3125rem;
  max-width: 25rem;
  min-height: 12.5rem;
  height: max-content;
  display: inline;
  border: 0.0625rem dashed $third;
  font-size: 1.25rem;
  line-height: 2.1875rem;
  border-radius: 0.3125rem;

  .email__title {
    font-size: 0.9em;
  }

  .email__to {
    font-size: 0.7em;
  }

  .email__asunto {
    font-size: 0.8em;
  }

  .email__message {
    font-size: 0.6em;
    line-height: normal;
  }

  .email__from {
    margin-top: 1.25rem;
    border-top: 0.125rem dashed $third;
    font-size: .6em;
  }
}