.page_home {
  width: 100%;
  height: 100%;

  &_title {
    width: max-content;
    height: max-content;
    margin: 12.5rem auto 0;
    /* Cambiado a unidades rem para el margen superior */
    text-align: center;
    font-weight: 400;
    font-size: 0.75rem;
    /* Cambiado a unidades rem para el tamaño de fuente */
    line-height: 2.5rem;
    /* Cambiado a unidades rem para la altura de línea */
    animation: home-intro 1.4s ease forwards;

    h2 {
      font-weight: 400;
    }

    h4 {
      color: $third;
      font-weight: 500;
    }
  }
}