.page_home {
  width: 100%;
  height: 100%;

  &_title {
    width: max-content;
    height: max-content;
    margin: 200px auto 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 40px;
    animation: home-intro 1.4s ease forwards;

    h4 {
      color: $third;
    }
  }
}

@media screen and (max-width: 576px) {
  @function calcularWidthMobile() {
    @return ($widthCasilla / 2 + $gap) * $cantidad
  }

  .page_home {
    width: 100vw;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_title {
      margin: 0 auto;
      font-size: 14px;
    }

    .skills {
      margin: 0;
      width: calcularWidthMobile();

      &__container {
        &.animation {
          width: calc($widthCasilla / 2 * $cantidad * 2);
        }

        .skill {
          width: $widthCasilla / 2;

          svg {
            zoom: 1.5;
          }
        }
      }
    }
  }
}