.input_container {
  // margin-right: 50px;
  // margin-right: 4vw;
  width: 20vw;
  height: 6vh;
  position: relative;

  label {
    display: block;
    // padding: 0 8px;
    padding: 0 .5vw;
    color: $third;
    position: absolute;
    top: 10px;
    left: 18px;
    font-size: .8em;
    font-weight: 600;
    transition: all .1s ease;
    text-transform: capitalize;
  }

  .label-focused {
    // top: -18px;
    top: -2.5vh;
    // left: 10px;
    left: .6vw;
    user-select: none;
    cursor: pointer;
  }

  textarea.form_input {
    resize: vertical;
  }

  .form_input {
    height: 5vh;
    box-sizing: border-box;
    width: 100%;
    // padding: 8px 14px;
    padding: .7vh 1vw;
    // border: 2px solid $third;
    border: .1vh solid $third;
    // border-radius: 5px;
    border-radius: .4vw;
    outline: none;
    font-family: 'Lucida Sans',
      'Lucida Sans Regular',
      'Lucida Grande',
      'Lucida Sans Unicode',
      Geneva,
      Verdana,
      sans-serif;
  }

  .form_input:focus {
    border-color: $primary;
  }
}

.form_button {
  display: block;
  padding: .5em 1em;
  margin: 0 auto;
  background-color: $primary;
  color: #fff;
  border: none;
  // border-radius: 5px;
  border-radius: .4vw;
  font-size: .9em;
  transition: transform .3s ease;

  &:hover {
    cursor: pointer;
    // transform: translateY(-5px);
  }
}