.input_container {
  margin-right: 3.125rem;
  /* Cambiado a unidades rem para el margen */
  position: relative;

  label {
    display: block;
    padding: 0 0.5rem;
    /* Cambiado a unidades rem para el padding */
    color: $third;
    position: absolute;
    top: 0.625rem;
    /* Cambiado a unidades rem para la posición superior */
    left: 1.125rem;
    /* Cambiado a unidades rem para la posición izquierda */
    font-size: 0.8rem;
    /* Cambiado a unidades rem para el tamaño de fuente */
    font-weight: 600;
    transition: all 0.1s ease;
    text-transform: capitalize;
  }

  .label-focused {
    top: -1.125rem;
    /* Cambiado a unidades rem para la posición superior */
    left: 0.625rem;
    /* Cambiado a unidades rem para la posición izquierda */
    user-select: none;
    cursor: pointer;
  }

  textarea.form_input {
    resize: vertical;
  }

  .form_input {
    width: 100%;
    padding: 0.5rem 0.875rem;
    /* Cambiado a unidades rem para el padding */
    border: 0.125rem solid $third;
    /* Cambiado a unidades rem para el grosor del borde */
    border-radius: 0.3125rem;
    /* Cambiado a unidades rem para el radio del borde */
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .form_input:focus {
    border-color: $primary;
  }
}

.form_button {
  padding: 0.3125rem 0.625rem;
  /* Cambiado a unidades rem para el padding */
  margin: 0 auto;
  background-color: $primary;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  /* Cambiado a unidades rem para el radio del borde */
  font-size: 1rem;
  /* Cambiado a unidades rem para el tamaño de fuente */
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.3125rem);
    /* Cambiado a unidades rem para la transformación */
  }
}