.navigation {
  width: 18.75rem;
  /* Cambiado a unidades rem para el ancho */
  height: 3.125rem;
  /* Cambiado a unidades rem para la altura */
  padding: 0 0.625rem;
  /* Cambiado a unidades rem para el espaciado horizontal */
  margin: 2.5rem auto 0;
  /* Cambiado a unidades rem para el margen superior */
  border-radius: 3.125rem;
  /* Cambiado a unidades rem para el radio del borde */
  background-color: #fff;
  box-shadow: 0.1875rem 0.1875rem 1.875rem gray;
  /* Cambiado a unidades rem para el sombreado */
  display: flex;
  align-items: center;
  justify-content: space-around;
}