.navigation__button {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &_icon {
    color: $third;
    transform: scale(1.6);
  }

  &:hover &_icon {
    color: #07b4ff;
  }

  &::after {
    opacity: 0;
    content: "";
    width: max-content;
    height: 0.9375rem;
    padding: 0.3125rem;
    background-color: $primary;
    color: #fff;
    border-radius: 0.3125rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 200;
    position: absolute;
    transition: transform 0.3s, opacity 0.2s;
  }

  &.home::after {
    content: "Inicio";
    left: 0.1875rem;
  }

  &.user::after {
    content: "Sobre Mi";
    left: -0.5rem;
  }

  &.cap::after {
    content: "Curriculum";
    left: -0.875rem;
  }

  &.brief-case::after {
    content: "Proyectos";
    left: -0.6875rem;
  }

  &.envelope::after {
    content: "Contacto";
    left: -0.4375rem;
  }

  &:hover::after {
    opacity: 1;
    transform: translateY(-2.6875rem);
  }
}