.pages {
  max-width: 100%;
  max-height: 100%;
  padding: 0.9375rem 1.875rem;
  background-color: #fff;
  border-radius: 1.25rem;
}

.menu {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  display: none;
  flex-direction: column;
  row-gap: 0.1875rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0.625rem;
  top: 0.625rem;
  zoom: 1.4;
  z-index: 4;
  color: #fff;
  background-color: $primary;

  &__bar {
    height: 0.09375rem;

    width: 0.875rem;

    background-color: #fff;
    border-radius: 0.625rem;

    transition: all 0.2s ease;
  }

  &.close {
    .menu__bar:nth-child(1) {
      transform: rotateZ(-45deg) translateY(0.1875rem) translateX(-0.125rem);

    }

    .menu__bar:nth-child(2) {
      transform: translateX(-1.25rem);

    }

    .menu__bar:nth-child(3) {
      transform: rotateZ(45deg) translateY(-0.25rem) translateX(-0.1875rem);

    }
  }
}