/* Generales */
.navigation__button {
  // width: 50px;
  width: 4vw;
  // height: 50px;
  height: 4vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &_icon {
    color: $third;
    // transform: scale(1.6);
    width: 1.5vw;
    height: 1.5vw;
  }

  &:hover &_icon {
    color: #07b4ff;
  }

  /* ::after */
  &::after {
    opacity: 0;
    content: "";
    width: max-content;
    // height: 15px;
    height: 2vh;
    // padding: 5px;
    padding: .5vw;
    background-color: $primary;
    color: #fff;
    // border-radius: 5px;
    border-radius: .4vw;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    position: absolute;
    transition: transform .3s, opacity .2s;
  }

  &.home::after {
    content: "Inicio";
    left: 0.35vw;
  }

  &.user::after {
    content: "Sobre Mi";
    left: -.5vw;
  }

  &.cap::after {
    content: "Curriculum";
    left: -.9vw;
  }

  &.brief-case::after {
    content: "Proyectos";
    left: -.6vw;
  }

  &.envelope::after {
    content: "Contacto";
    left: -.5vw;
  }

  /* After Hover */
  &:hover::after {
    opacity: 1;
    // transform: translateY(-43px);
    transform: translateY(-6vh);
  }
}