.page_resume {
  animation: page-intro 0.4s ease forwards;

  section {
    margin: 1.25rem 0 0;

    .subtitle {
      text-align: center;
    }
  }

  .formacion_academica {
    margin-top: 3.125rem;

    .subtitle {
      margin-bottom: 1.25rem;
    }
  }
}