.page_resume {
  animation: page-intro 0.4s ease forwards;

  section {
    margin: 1.25rem 0 0;
    /* Cambiado a unidades rem para el margen */

    .subtitle {
      text-align: center;
    }
  }

  .formacion_academica {
    margin-top: 3.125rem;
    /* Cambiado a unidades rem para el margen superior */

    .subtitle {
      margin-bottom: 1.25rem;
      /* Cambiado a unidades rem para el margen inferior */
    }
  }
}