.skills {
  margin: 1.875rem auto 0;
  width: calcularWidth();
  height: auto;
  overflow: hidden;
  display: flex;
  opacity: 1;
  animation: skills-show-delay 2s linear;

  &__container {
    margin-right: $gap;
    display: flex;
    gap: $gap;

    &.animation {
      width: calc(#{$widthCasilla} * #{$cantidad} * 2);
      animation: slide 12s linear infinite;
      -webkit-animation: slide 12s linear infinite;
    }

    .skill {
      width: $widthCasilla;

      svg {
        color: $third;
        zoom: 2;
      }
    }
  }
}