@use "../../variables" as *;

/* Generales */
.navegacion_btn {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &_icon {
    color: $third;
    transform: scale(1.6);
  }

  &:hover &_icon {
    color: #07b4ff;
  }

  /* ::after */
  &::after {
    opacity: 0;
    content: "";
    width: max-content;
    height: 15px;
    padding: 5px;
    background-color: $primary;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    position: absolute;
    transition: transform .3s, opacity .2s;
  }

  &.home::after {
    content: "Inicio";
    left: 3px;
  }

  &.user::after {
    content: "Sobre Mi";
    left: -8px;
  }

  &.cap::after {
    content: "Curriculum";
    left: -14px;
  }

  &.brief-case::after {
    content: "Proyectos";
    left: -11px;
  }

  &.envelope::after {
    content: "Contacto";
    left: -7px;
  }

  /* After Hover */
  &:hover::after {
    opacity: 1;
    transform: translateY(-43px);
  }
}