// ----- Desktop -----
// 2K
@media screen and (min-device-width: 2100px) {
  html {
    font-size: 30px;
  }

  .navigation__button_icon {
    transform: scale(3);
  }
}

// 4K
@media screen and (min-device-width: 3000px) {
  html {
    font-size: 46px;
  }

  .navigation__button_icon {
    transform: scale(4.5);
  }
}

// " FullDH "

// HD
@media screen and (max-device-width: 1080px) {
  html {
    font-size: 12px;
  }

  .navigation__button_icon {
    transform: scale(1.2);
  }
}