@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

@keyframes home-intro {
  0% {
    opacity: 0;
    margin-top: 400px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes page-intro {
  0% {
    opacity: 0;
    margin-top: 400px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skills-show-delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-416px);
  }
}
@keyframes slideMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-304px);
  }
}
.principal {
  width: 100%;
  height: 600px;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 230px 1fr;
  background-color: #1ea9e5;
  box-shadow: 2px 2px 50px gray;
  border-radius: 20px;
  overflow: hidden;
}

.pages {
  max-width: 100%;
  max-height: 100%;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 20px;
}

.sidebar {
  height: 90%;
  padding: 20px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
}
.sidebar__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.sidebar__img img {
  width: 180px;
  position: absolute;
  top: -15px;
  left: -12px;
}
.sidebar__text {
  margin-top: 20px;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  line-height: 3em;
}
.sidebar__text h3 {
  font-weight: 500;
}
.sidebar__text h4 {
  font-weight: 300;
  font-size: 1.2em;
}
.sidebar__text .sidebar_cv {
  display: block;
  margin: 40px;
  width: 150px;
  height: 50px;
  border: 1px solid #F2F4FF;
  border-radius: 50px;
  background-color: #1ea9e5;
  color: #F2F4FF;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease all;
}
.sidebar__text .sidebar_cv:hover {
  transform: scale(1.03);
  background-color: #F2F4FF;
  color: #1ea9e5;
}
.sidebar__copyrigth {
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  font-size: 0.6em;
}

.socialNetwork {
  margin: 0 5px;
  color: #fff;
  font-size: 1.2em;
}

.navigation {
  width: 300px;
  height: 50px;
  padding: 0 10px;
  margin: 40px auto 0;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 3px 3px 30px gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Generales */
.navigation__button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  /* ::after */
  /* After Hover */
}
.navigation__button_icon {
  color: rgba(128, 128, 128, 0.6862745098);
  transform: scale(1.6);
}
.navigation__button:hover .navigation__button_icon {
  color: #07b4ff;
}
.navigation__button::after {
  opacity: 0;
  content: "";
  width: -moz-max-content;
  width: max-content;
  height: 15px;
  padding: 5px;
  background-color: #1ea9e5;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  position: absolute;
  transition: transform 0.3s, opacity 0.2s;
}
.navigation__button.home::after {
  content: "Inicio";
  left: 3px;
}
.navigation__button.user::after {
  content: "Sobre Mi";
  left: -8px;
}
.navigation__button.cap::after {
  content: "Curriculum";
  left: -14px;
}
.navigation__button.brief-case::after {
  content: "Proyectos";
  left: -11px;
}
.navigation__button.envelope::after {
  content: "Contacto";
  left: -7px;
}
.navigation__button:hover::after {
  opacity: 1;
  transform: translateY(-43px);
}

.page_home {
  width: 100%;
  height: 100%;
}
.page_home_title {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 200px auto 0;
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 40px;
  animation: home-intro 1.4s ease forwards;
}
.page_home_title h2 {
  font-weight: 400;
}
.page_home_title h4 {
  color: rgba(128, 128, 128, 0.6862745098);
  font-weight: 500;
}

.skills {
  margin: 30px auto 0;
  width: 416px;
  height: auto;
  overflow: hidden;
  display: flex;
  opacity: 1;
  animation: skills-show-delay 2s linear;
}
.skills__container {
  margin-right: 20px;
  display: flex;
  gap: 20px;
}
.skills__container.animation {
  width: 512px;
  animation: slide 12s linear infinite;
  -webkit-animation: slide 12s linear infinite;
}
.skills__container .skill {
  width: 32px;
}
.skills__container .skill svg {
  color: rgba(128, 128, 128, 0.6862745098);
  zoom: 2;
}

.aboutMe {
  width: 100%;
  animation: page-intro 0.4s ease forwards;
}
.aboutMe__text {
  line-height: 25px;
  font-size: 0.9rem;
}
.aboutMe__text:nth-child(1) {
  margin-top: 20px;
}
.aboutMe__hard-Soft-Skills {
  display: grid;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.aboutMe__hard-Soft-Skills .hard-skills {
  height: 100%;
  border-right: 3px solid #1ea9e5;
  padding-right: 15px;
}
.aboutMe__hard-Soft-Skills .hard-skills .techStack {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutMe__hard-Soft-Skills .hard-skills .techStack img {
  width: 40px;
}
.aboutMe__hard-Soft-Skills .soft-skills {
  padding-left: 15px;
  line-height: 1.5rem;
}
.aboutMe__aptitudes {
  margin: 5px 10px 10px 0;
  font-size: 1em;
  list-style: disc;
  list-style-type: none;
}

.page_resume {
  animation: page-intro 0.4s ease forwards;
}
.page_resume section {
  margin: 20px 0 0;
}
.page_resume section .subtitle {
  text-align: center;
}
.page_resume .formacion_academica {
  margin-top: 50px;
}
.page_resume .formacion_academica .subtitle {
  margin-bottom: 20px;
}

.job {
  display: grid;
  grid-template-columns: 160px 20px 1fr;
  margin-top: 20px;
  gap: 5px;
}
.job__place-date {
  padding-bottom: 10px;
  text-align: end;
  color: #1ea9e5;
}
.job__place-date p {
  font-size: 0.7em;
  color: rgba(128, 128, 128, 0.6862745098);
}
.job .ornament {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
  color: #1ea9e5;
}
.job .ornament__icon {
  margin: 3px auto;
}
.job .ornament__line {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.6862745098);
}

.academic {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  gap: 5px;
  line-height: 25px;
}
.academic__place-date {
  padding-bottom: 30px;
  font-size: 1rem;
  text-align: end;
  color: #212227;
}
.academic__place-date p {
  font-size: 0.7em;
  color: rgba(128, 128, 128, 0.6862745098);
}
.academic .ornament {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
  color: #1ea9e5;
}
.academic .ornament__icon {
  margin: 3px auto;
  position: relative;
}
.academic .ornament__line {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.6862745098);
}
.academic__info p {
  font-size: 0.8rem;
}

.page_proyects {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  animation: page-intro 0.4s ease forwards;
}
.page_proyects .content .proyects__filters {
  margin-top: 20px;
  padding: 0 0 5px 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.6862745098);
}
.page_proyects .content .proyects__filters li {
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.page_proyects .content .proyects__filters li.selected {
  transform: scale(1.2);
  color: #1ea9e5;
}
.page_proyects .content .proyects__container {
  margin: 20px auto;
  max-width: 95%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
}

.proyectCard {
  width: 240px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.6862745098);
  border-radius: 3px;
  overflow: hidden;
  /* Botones */
}
.proyectCard img {
  width: 100%;
  height: 135px;
}
.proyectCard__body {
  padding: 5px 10px;
}
.proyectCard__name {
  margin-bottom: 5px;
  color: #1ea9e5;
  font-weight: bold;
}
.proyectCard__icons {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}
.proyectCard__icons .skill {
  width: -moz-max-content;
  width: max-content;
  transform: scale(1.3);
  color: rgba(128, 128, 128, 0.6862745098);
}
.proyectCard__buttons {
  display: flex;
  margin: 12px 0 10px;
}
.proyectCard__buttons a {
  flex: 1;
  padding: 3px 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
}
.proyectCard__buttons a .skill {
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
}
.proyectCard__buttons a .skill svg.fa-github {
  transform: scale(1.1);
  color: #fff;
}
.proyectCard__buttons a .skill svg.fa-up-right-from-square {
  transform: scale(0.6);
  color: #000;
}
.proyectCard__repo {
  height: -moz-max-content;
  height: max-content;
  gap: 10px;
  background-color: #000;
  color: #fff;
}
.proyectCard__link {
  gap: 3px;
  color: #000;
}

.page_contact {
  animation: page-intro 0.4s ease forwards;
}

.form_grid {
  padding: 30px 10px;
  display: grid;
  grid-template-columns: 320px 1fr;
}
.form_grid form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_container {
  margin-right: 50px;
  position: relative;
}
.input_container label {
  display: block;
  padding: 0 8px;
  color: rgba(128, 128, 128, 0.6862745098);
  position: absolute;
  top: 10px;
  left: 18px;
  font-size: 0.8em;
  font-weight: 600;
  transition: all 0.1s ease;
  text-transform: capitalize;
}
.input_container .label-focused {
  top: -18px;
  left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.input_container textarea.form_input {
  resize: vertical;
}
.input_container .form_input {
  width: 100%;
  padding: 8px 14px;
  border: 2px solid rgba(128, 128, 128, 0.6862745098);
  border-radius: 5px;
  outline: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.input_container .form_input:focus {
  border-color: #1ea9e5;
}

.form_button {
  padding: 0.5em 1em;
  margin: 0 auto;
  background-color: #1ea9e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: transform 0.3s ease;
}
.form_button:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.menssage_input {
  color: #e03030;
  padding: 5px 10px;
  text-transform: capitalize;
}

.sk-circle {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  transform: rotate(30deg);
}
.sk-circle .sk-circle2:before {
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3 {
  transform: rotate(60deg);
}
.sk-circle .sk-circle3:before {
  animation-delay: -1s;
}
.sk-circle .sk-circle4 {
  transform: rotate(90deg);
}
.sk-circle .sk-circle4:before {
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5 {
  transform: rotate(120deg);
}
.sk-circle .sk-circle5:before {
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6 {
  transform: rotate(150deg);
}
.sk-circle .sk-circle6:before {
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7 {
  transform: rotate(180deg);
}
.sk-circle .sk-circle7:before {
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8 {
  transform: rotate(210deg);
}
.sk-circle .sk-circle8:before {
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9 {
  transform: rotate(240deg);
}
.sk-circle .sk-circle9:before {
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10 {
  transform: rotate(270deg);
}
.sk-circle .sk-circle10:before {
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11 {
  transform: rotate(300deg);
}
.sk-circle .sk-circle11:before {
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12 {
  transform: rotate(330deg);
}
.sk-circle .sk-circle12:before {
  animation-delay: -0.1s;
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.preview {
  padding: 5px;
  max-width: 400px;
  min-height: 200px;
  height: -moz-max-content;
  height: max-content;
  display: inline;
  border: 1px dashed rgba(128, 128, 128, 0.6862745098);
  font-size: 20px;
  line-height: 35px;
  border-radius: 5px;
}
.preview .email__title {
  font-size: 0.9em;
}
.preview .email__to {
  font-size: 0.7em;
}
.preview .email__asunto {
  font-size: 0.8em;
}
.preview .email__message {
  font-size: 0.6em;
  line-height: normal;
}
.preview .email__from {
  margin-top: 20px;
  border-top: 2px dashed rgba(128, 128, 128, 0.6862745098);
  font-size: 0.6em;
}

html {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 90%;
  max-width: 1100px;
  height: 80%;
  max-height: 1000px;
}

/* Clases Globales */
.active {
  display: block;
}

.inactive {
  display: none;
}

.title {
  padding-bottom: 10px;
  border-bottom: 2px solid #1ea9e5;
  color: #1ea9e5;
}

.subtitle {
  color: #1ea9e5;
  font-size: 22px;
  font-weight: bold;
}

.content {
  width: 100%;
  height: 0;
  overflow-y: scroll;
  border-bottom: 1px solid #1ea9e5;
  transition: height 2s cubic-bezier(0.23, 0.76, 0.58, 1), border-bottom 2.2s ease-out;
}
.content::-webkit-scrollbar {
  width: 3px;
  height: 100px;
}
.content::-webkit-scrollbar-thumb {
  background-color: #1ea9e5;
  opacity: 1;
  border-radius: 10px;
}

.show {
  height: 500px;
  border-bottom-color: #fff;
}

@media screen and (max-width: 900px) {
  .form_grid {
    display: block;
  }
  .previsualización_container {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  #root {
    width: 100%;
  }
  .principal {
    margin: 0;
  }
}
@media screen and (max-width: 710px) {
  * {
    box-sizing: border-box;
  }
  body {
    display: block;
    width: 100vw;
    height: 100vh;
  }
  #root {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .content {
    height: 0;
  }
  .content.show {
    height: 86vh;
  }
  .principal {
    margin: 0;
    min-height: 94vh;
    display: block;
    background-color: transparent;
    box-shadow: none;
  }
  .principal .sidebar {
    display: none;
  }
  .principal .pages {
    padding: 20px 20px 0;
    height: 100%;
  }
  .principal .pages .page_home {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .principal .pages .page_home_title {
    margin: 0 auto;
    font-size: 14px;
  }
  .principal .pages .page_home .skills {
    margin: 0;
    width: 304px;
  }
  .principal .pages .page_home .skills__container.animation {
    width: 288px;
    animation: slideMobile 12s linear infinite;
    -webkit-animation: slideMobile 12s linear infinite;
  }
  .principal .pages .page_home .skills__container .skill {
    width: 18px;
  }
  .principal .pages .page_home .skills__container .skill svg {
    zoom: 1.3;
  }
  .principal .pages .aboutMe {
    height: 100%;
  }
  .principal .pages .aboutMe .content {
    text-align: center;
    line-height: 1.5em;
  }
  .principal .pages .aboutMe .content .hard-soft_skills {
    grid-template-columns: 1fr;
  }
  .principal .pages .aboutMe .content .hard-soft_skills .subtitle {
    text-align: center;
  }
  .principal .pages .aboutMe .content .hard-soft_skills .techStack {
    justify-content: center;
  }
  .principal .pages .aboutMe .content .hard-soft_skills .aboutMe__aptitudes_lista {
    text-align: center;
  }
  .principal .pages .page_formación {
    height: 100%;
  }
  .principal .pages .page_formación .content .subtitle {
    text-align: center;
  }
  .principal .pages .page_formación .content .experiencia_laboral .trabajo {
    grid-template-columns: 1fr;
  }
  .principal .pages .page_formación .content .experiencia_laboral .trabajo .content_lugar-fecha {
    text-align: start;
  }
  .principal .pages .page_formación .content .experiencia_laboral .trabajo .content_icon {
    display: none;
  }
  .principal .pages .page_formación .content .experiencia_laboral .trabajo .content_info {
    margin-top: 10px;
  }
  .principal .pages .page_proyectos {
    height: 100%;
  }
  .principal .pages .page_proyectos .content nav ul {
    font-size: 0.7em;
    padding: 0 0 10px;
    gap: 0;
    justify-content: space-evenly;
  }
  .principal .pages .page_contacto {
    height: 100%;
  }
  .principal .pages .page_contacto form {
    align-items: center;
    gap: 50px;
  }
  .principal .pages .page_contacto form .input_container {
    width: 100%;
    margin: 0;
  }
  .navigation {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 6vh;
    border-radius: 0;
    box-shadow: 0 10px 30px rgba(128, 128, 128, 0.6862745098);
    position: fixed;
    bottom: 0;
    background-color: #F2F4FF;
  }
}
@media screen and (max-width: 350px) {
  body {
    position: relative;
  }
  body::after {
    content: "En desarrollo";
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 100px 20px rgb(111, 107, 107);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  body #root {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */