.skills__container {
  margin-right: 20px;
  display: flex;
  gap: 20px;
}

.skills__container.animation {
  width: calc(32px * 12);
  animation: slide 15s linear infinite;
  -webkit-animation: slide 15s linear infinite;
}

.skill {
  width: 32px;
}

.skill svg{
  color: var(--third);
  zoom: 2;
}