.page_home {
  width: 100%;
  height: 100%;
}

.page_home_title {
  width: max-content;
  height: max-content;
  margin: 200px auto 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 40px;
  animation: home-intro 1.4s ease forwards;
}

.page_home h4 {
  color: var(--third);
}