.tecnologías{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
}

.tecnologías svg{
  transform: scale(4);
}
.tecnologías svg:hover{
  color: var(--primary);
}