@use "./Components/Skills/skills" as skills;

@keyframes home-intro {
  0% {
    opacity: 0;
    margin-top: 400px;
  }

  100% {
    opacity: 1;
  }
}

@keyframes page-intro {
  0% {
    opacity: 0;
    margin-top: 400px;
  }

  100% {
    opacity: 1;
  }
}

@keyframes skills-show-delay {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(skills.calcularWidth() * -1);
    transform: translateX(skills.calcularWidth() * -1);
  }
}