.principal {
  width: 100%;
  max-width: 68.75rem;
  height: 37.5rem;
  margin: auto;
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: 14.375rem 1fr;
  background-color: $primary;
  box-shadow: 0.125rem 0.125rem 3.125rem gray;
  border-radius: 1.25rem;
  overflow: hidden;
}