.navegacion {
    margin-top: 40px;
}

.navegacion_icons {
    width: 250px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 3px 3px 30px gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
