// Light
$primary: #1ea9e5;
$secondary: #F2F4FF;
$third: #808080af;

// Dark
$primary-dark: #53a7d7;
$secondary-dark: #2b2d42;
$third-dark: #c1c7d0;

// Utils
$black: #212227;
$white: #fff;
$clr-error: #e03030;


// Medidas
$cantidad: 8;
$widthCasilla: 2rem;
$widthCasillaMobile: 1.25rem;
$gap: 1.25rem;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);