$primary: #1ea9e5;
$third: #808080af;
$secondary: #F2F4FF;
$back: #212227;
$clr-error: #e03030;

$cantidad: 8;
// $widthCasilla: 32px;
$widthCasilla: 2vw;
// $widthCasillaMobile: 18px;
$widthCasillaMobile: 1vw;
// $gap: 20px;
$gap: 2vw;