$primary: #1ea9e5;
$third: #808080af;
$secondary: #F2F4FF;
$back: #212227;
$clr-error: #e03030;

$cantidad: 8;
$widthCasilla: 2rem;
// $widthCasillaMobile: 1.125rem;
$widthCasillaMobile: 1.25rem;
$gap: 1.25rem;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);